p{
    background-color: #eee;
}
/* * {

    c
} */
header {

    width: 30%;
    margin: auto;
    text-align: center;
}
/* 
syntax => text-shadow:H-shadow, v, blur, color
offset-x | offset-y | blur-radius | color
*/
.p1 {

    color: rebeccapurple;
    text-shadow: 2px 2px 10px black ;
}
.p2 {
    direction: rtl;
}
.p-img {
    background-color: #eee;
}
.img-r99-1,
.img-r99-2,
.img-r99-3  {
    height: 60px;
}
.img-r99-1 {
    vertical-align: top;
}
.img-r99-2{
 vertical-align: middle;
}
.img-r99-3 {
    vertical-align: text-bottom;
}
.transf {
    background-color: #eee;
    padding: 5px;
    border: darkmagenta 5px solid;
    border-radius: 40px;
    display: inline-block;
    text-transform: capitalize;
}
.capitalize{  
    font-family: 'Times New Roman', Times, serif;

    text-transform: capitalize;
    background-color: #eee;
    padding: 10px;
}
.lowercase {    
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: lowercase;
    background-color: #eee;
    padding: 10px;
}

.uppercase { 
       
    text-transform: uppercase;
    background-color: #eee;
    padding: 10px;
    font-size: 3em;
    font-style: italic;
}
.text-spacing {
    border: black 5px solid;
    border-radius: 40px;
    margin: 10px;
}
.text-spacing-p {
    text-transform: capitalize;
    background-color: #eee;
    border: darkmagenta 5px solid;
    border-radius: 40px;
    padding: 5px;
}
.letter-spacing {
    letter-spacing:10px;
}
.line-height {
    line-height: 50px;
}
.word-spacing {
    word-spacing: 10px;
   

}
.cont {
    margin-left:25px ;
    margin-right: 12px;
    background-color: yellowgreen;
}
.white-space {
    white-space:nowrap ;
    width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.break-word {
    word-break: break-all;
    width: 400px;
}
.break-word,
.white-space,
.word-spacing,
.line-height,
.letter-spacing {
    margin: 5px;
    border-radius: 40px;
    display: inline-block;
    background-color: yellowgreen;
}
strong {
    background-color: inherit;
}
.text-s {
    border-radius: inherit;
}
.white-space:hover {
    overflow: visible;
}