* {
  font-family: "Inconsolata", monospace;
  text-decoration: none;
}

.Click {
  visibility: hidden;
}
button:hover {
  visibility: visible;
}

header {
  text-transform: capitalize;
  position: sticky;
  top: 0%;
}
header h1 {
  margin: 0 495px 0;
  padding: 0;
  font-weight: normal;
  border-radius: 15px;
  color: #eee;
  display: inline-block;
  text-align: center;
  background-color: crimson;
}
nav {
  /* margin-top:5% ; */
  margin-bottom: auto;
  margin-left: 156.5px;
}

ul {
  width: 82%;
  left: 0;
  margin-top: 0;
  height: 50px;
  position: relative;
  color: rgb(255, 179, 193);
  border-radius: 15px;
  background-color: crimson;
  list-style-type: none;
}
ul li a {
  position: absolute;
  color: #eee;
  top: 6px;
  display: inline-block;
  text-align: center;
  width: 200px;
  border: rgb(255, 179, 193) solid 1px;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
a:hover {
  border: rgb(255, 179, 193) solid 1px;
  color: crimson;
  background-color: #eee;
}

.nav1 {
  top: 0;
  margin: 15px 10px;
  left: 20px;
}

.nav2 {
  left: 251px;
}
.nav3 {
  left: 485px;
  top: 0;
  margin: 15px 10px;
}
.nav4 {
  left: 709px;
  top: 0;
  margin: 15px 10px;
}

form {
  text-align: center;
  /* margin-left: 30%;يعني خذ 30% من مساحة الكونتينر  */
  /* عشان اوسط العنصر ممكن اعمل width 
    و بعدين بعمل الباقي مارجن مقسومه على2  */
  /* و صح اعمل */

  background-color: black;
  color: red;
  display: inline-block;
  width: 46.7%;
  margin: 50px;

  margin-left: 26.8%;
  border: 3px greenyellow dotted;
}
input:focus {
  color: #00b3a4;
  background-color: chartreuse;
}
form a {
  color: lightcoral;
}
.a-for-ifram {
  border: 3px red dashed;
  color: greenyellow;
}
hr {
  border: 3px red solid;
}
.Click {
  cursor: pointer;
}
button {
  cursor: grabbing;
}
table {
  background-color: rgb(174, 184, 147);
  width: 100%;
  margin: 5px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
table td {
  padding: 5px;
  margin: 5px;
  background-color: rgb(174, 184, 147);

  border: 3px solid #eee;
  text-align: center;
}
table thead td {
  background-color: rgb(11, 173, 194);
  border-color: rgba(11, 173, 194, 0.322);
  color: rgb(48, 25, 25);
  font-weight: bolder;
  border-width: 12px;
}
.last_one {
  text-align: left;
}
